# location of codes and com
export simulation=rb.qctest
export projectroot=/lfs/h2/emc/eib/save/dan.iredell/rtofs.v2.5.REL1
export comroot=/lfs/h2/emc/couple/noscrub/dan.iredell/COMDIRq
#export inputroot=/lfs/h2/emc/eib/noscrub/dan.iredell/dcom/prod
#export GETGES_COM=/lfs/h2/emc/eib/noscrub/dan.iredell/com/gfs

# run extra production jobs?
export rungzip=1
export rungempak=1
export checkoutputs=0

#################################################

