# location of codes and com
export simulation=rb.v3.0
export projectroot=/lfs/h2/emc/eib/save/dan.iredell/RTOFS_GLO
export comroot=/lfs/h2/emc/couple/noscrub/dan.iredell/COMDIR
export inputroot=/lfs/h2/emc/eib/noscrub/dan.iredell/dcom/prod
#export GETGES_COM=/lfs/h2/emc/eib/noscrub/dan.iredell/com/gfs
export queue=devhigh

# control which jobs to run (dependencies are known by the launch script)
# NCODA
export runqc=0
export runglblvar=0
export runpolarvar=0
export run3dvar=0
# INCREMENTAL UPDATE
export runncodainc=0
export runufsincup=1
# ANALYSIS
export runanalpre=1
export runufsanal=1
export runanalgribpost=1
# FORECAST STEP1
export runfcst1pre=1
export runufsfcst1=1
export runfcst1gribpost=1
# FORECAST STEP2
export runfcst2pre=1
export runufsfcst2=1
export runfcst2gribpost=1

# run a job outside the workflow (for testing purposes)
export runspecial=0

# post jobs (create 3dz 6hourly regional files)
# if needed - only use if analysis and forecast jobs do not create these files.
export runanalpost=0
export runfcst1post=0
export runfcst2post=0

#################################################

