# location of codes and com
export simulation=rb.v3.0
export projectroot=/lfs/h2/emc/eib/save/dan.iredell/smallstuff
export comroot=/lfs/h2/emc/couple/noscrub/dan.iredell/COMDIRs
export inputroot=/lfs/h2/emc/eib/noscrub/dan.iredell/dcom/prod
#export GETGES_COM=/lfs/h2/emc/eib/noscrub/dan.iredell/com/gfs
export queue=devhigh

# control which jobs to run
export runqc=0
export runglblvar=0
export runpolarvar=0
export run3dvar=0
export runncodainc=1
export runmomincup=0
export runmomanal=0
export runmomfcst1=0

#################################################

