# location of codes and com 
# wcoss2-ops
export simulation=runops
export projectroot=/lfs/h2/emc/eib/save/dan.iredell/runops
export comroot=/lfs/h2/emc/eib/noscrub/dan.iredell/COMDIR

# run extra production jobs? 
export rungzip=0
export rungempak=0

#################################################
